:root {
  background-color: rgb(26, 25, 25);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body,
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}
a:visited {
  color: white;
}

.navbar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transform: translate(0, -93.5%);
  transition-duration: 500ms;
  z-index: 7;
}
.show-navbar {
  transform: translate(0);
}

.navbar-menu {
  background-color: rgb(26, 25, 25);
  border-bottom: 2.5px solid rgb(73, 73, 73);
  padding: 0.75rem;
  z-index: 10;
  display: flex;
  flex-direction: column;
}

.navbar-header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.navbar-header > h1 {
  margin-left: 0.5em;
  font-weight: 550;
  font-size: xx-large;
}
.navbar-header > *:first-child {
  font-size: 40px;
  min-width: 40px;
  max-width: 40px;
}
.navbar-header > *:last-child {
  position: absolute;
  right: 1em;
  font-size: 25px;
}

.navbar-list {
  margin-bottom: 2.5em;
  list-style: none;
}

.navbar-list-item {
  display: flex;
  align-items: center;
  padding: 0.5em;
}
.navbar-list-item:not(:last-of-type) {
  margin-bottom: 0.5em;
}
.navbar-list-item > h4 {
  margin: 0 0.75em;
}
.navbar-list-item > *:first-child {
  font-size: 20px;
  min-width: 20px;
  max-width: 20px;
}
.navbar-list-item > *:not(h4):not(:first-child) {
  min-width: 20px;
  max-width: 20px;
}

.current-item {
  color: #4e84f0;
  border-left: 10px solid #4e84f0;
}
.current-item > h4 {
  text-decoration: none;
}

.navbar-dropdown-con {
  display: flex;
  align-items: center;
}
.dropdownIcon:focus {
}

.menu-dropdown-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 3em;
  margin-top: 0.5em;
}

.menu-dropdown-item {
  color: rgb(170, 170, 170);
}

.current-dropdown {
  border-left: 10px solid #4e84f0;
}

.navbar-setting {
  display: flex;
  align-items: center;
  margin-bottom: 0.75em;
  width: 100%;
  word-break: break-all;
  padding: 0.5em;
}
.navbar-setting > h4 {
  margin-left: 0.5em;
}

.profile-picture {
  background-color: white;
  margin-right: 0.25em;
  min-width: 50px;
  min-height: 50px;
  border-radius: 0.5em;
}

.navbar-toggle {
  font-size: 15px;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  padding: 0.25rem;
  width: fit-content;
  align-self: center;
  background-color: rgb(54, 54, 54);
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
}

.main-container {
  width: 100%;
  min-height: fit-content;
  padding: 1.5rem;
  overflow-y: visible;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.genre {
  background-color: rgb(70, 70, 70);
  color: white;
  border-radius: 0.5em;
  min-width: 100px;
  border: none;
  outline: none;
  display: flex;
  text-align: center;
  height: fit-content;
}
.genre:focus {
  cursor: pointer;
  background-color: rgb(22, 22, 22);
  box-shadow: 0px 0px 15px #1f1f1f;
}
.genre *:first-child {
  align-self: center;
  margin-right: 0.5em;
}
.genre span {
  flex: 1;
}
.normal-tag {
  padding: 0.75em 0.75em;
}
.skinny-tag {
  padding: 0.25em 0.25em;
}

.purchase-btn {
  font-size: 1em;
  background-image: -webkit-linear-gradient(
    left,
    #145eee,
    #0a3b9c,
    rgb(6, 38, 100)
  );
  color: white;
  border-radius: 0.5em;
  padding: 0.5em;
  background-size: 200% 200%;
  -webkit-animation: Animation 5s ease infinite;
  -moz-animation: Animation 5s ease infinite;
  animation: Animation 5s ease infinite;
  width: 100%;
  outline: none;
  border: none;
  transition: transform 0.4s;
  -webkit-transition: -webkit-transform 0.4s;
}
.purchase-btn:focus {
  -webkit-transform: scale(1.1) rotate(0.01deg);
  transform: scale(1.1) rotate(0.01deg);
}
.purchase-btn:focus-visible {
  -webkit-transform: scale(1.1) rotate(0.01deg);
  transform: scale(1.1) rotate(0.01deg);
}

.purchase-btn * {
  font-size: 1em;
}
.purchase-btn *:first-child:not(:last-child) {
  margin-right: 10px;
}
@-webkit-keyframes Animation {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}
@-moz-keyframes Animation {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}
@keyframes Animation {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}

.page-title {
  margin-bottom: 1rem;
}

.product-image {
  border-radius: 0.5em;
  max-width: 100%;
  scroll-snap-align: start;
  transition: transform 0.4s;
}

.offers-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.offers-header > *:last-child {
  font-size: medium;
  color: #6699ff;
  background-color: transparent;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
}

.offers-header > *:last-child:focus {
  color: #366cd8;
  text-shadow: 0px 0px 10px #4e84f0;
}

.games-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5em;
  margin-bottom: 4em;
}

.carousel-item {
  background-color: blue;
  display: flex;
}
.carousel-item > div {
  background-image: -webkit-linear-gradient(
    right,
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0.65),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  padding: 1em 2em 1.75em 1.5em;
  height: 100%;
  position: absolute;
  right: 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 100;
}

.carousel-item > div > p {
  text-overflow: ellipsis;
  overflow: hidden;
}

.carousel-image {
  display: flex;
  flex: 2;
  object-fit: cover;
  height: 100%;
  width: auto;
}

.genres-list {
  display: flex;
  flex-wrap: wrap;
}
.genres-list > * {
  margin-right: 0.5em;
}
.genres-list > *:not(:last-of-type) {
  margin-bottom: 0.5em;
}

.submenu-con {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  overflow-x: auto;
  height: 75px;
  gap: 0.5rem;
  margin-bottom: 2rem;
}
.submenu-con > * {
  background-color: #0a3b9c;
  color: white;
  padding: 0.5em;
  width: 75px;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  word-wrap: break-word;
  text-align: center;
  border: none;
}
.submenu-con > *:focus-visible {
  background-color: #0e234e;
  transition: 250ms;
}
.submenu-con > *:not(:last-of-type) {
  margin-right: 0.5em;
}
.submenu-con > * > *:first-child {
  font-size: 20px;
}
.submenu-con > * > h3 {
  font-size: 0.75rem;
}

.games-list-con {
  background-image: -webkit-linear-gradient(rgb(94, 94, 94), rgb(44, 44, 44));
  padding: 0.5em;
}

.games-list-menu {
  display: grid;
  gap: 0.5em;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 0.5em;
}
.games-list-menu > button {
  color: white;
  min-height: 40px;
  background-color: transparent;
  border: none;
}

.games-list-menu-selected {
  min-height: 40px;
  border: none;
  text-decoration: underline;
}

.games-list-item {
  background-color: #757575;
  box-shadow: 0 5px 20px black;
  border-radius: 0.5em;
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.games-list-item:not(:last-of-type) {
  margin-bottom: 0.25em;
}
.games-list-item > img {
  width: 125px;
  height: 100%;
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;

  object-fit: fill;
}
.games-list-item > div {
  padding: 0.25em;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}
.games-list-item > div > .genres-list {
  display: none;
}
.games-list-item > span {
  background-color: #353535;
  font-size: large;
  padding: 0.5em;
  border-bottom-right-radius: inherit;
  color: white;
  border: none;
  align-self: flex-end;
}

@media screen and (min-width: 55rem) {
  .layout {
    display: flex;
  }

  .navbar-container {
    background-color: rgb(26, 25, 25);
    position: sticky;
    inset: 0;
    width: fit-content;
    max-width: 215px;
    height: 100vh;
    transform: translate(0);
    transition-duration: 0ms;
    padding: 1rem 1.5rem;
    border-right: 2.5px solid rgb(73, 73, 73);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

  .navbar-menu {
    padding: 0;
    border-bottom: none;
    flex: 1;
  }

  .navbar-menu > * {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .navbar-header {
    margin-bottom: 5rem;
  }
  .navbar-header > *:last-child {
    display: none;
  }

  .navbar-list {
    flex: 1;
  }
  .menu-dropdown-item:hover {
    border-left: 10px solid #4e84f0;
    cursor: pointer;
    transition-duration: 250ms;
  }

  .navbar-toggle:hover {
    background-color: rgb(56, 56, 56);
    transition-duration: 250ms;
  }

  .navbar-list-item:hover {
    cursor: pointer;
    border-left: 10px solid #4e84f0;
    transition-duration: 150ms;
  }

  .navbar-list-item:hover > * {
    color: #4e84f0;
    transition-duration: 250ms;
  }

  .navbar-dropdown-con > *:last-child:hover {
    cursor: pointer;
    color: #4e84f0;
    transition-duration: 250ms;
  }

  .navbar-setting {
    justify-content: space-between;
  }

  .navbar-toggle {
    display: none;
  }

  .main-container {
    padding: 3rem 6rem 1.5rem 6rem;
  }

  .genre:hover {
    cursor: pointer;
    background-color: rgb(22, 22, 22);
    box-shadow: 0px 0px 15px #1f1f1f;
    transition-duration: 250ms;
  }

  .purchase-btn:hover {
    cursor: pointer;
    -webkit-transform: scale(1.1) rotate(0.01deg);
    transform: scale(1.1) rotate(0.01deg);
  }

  .product-image:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  .offers-header > *:last-child:hover {
    color: #366cd8;
    text-shadow: 0px 0px 10px #4e84f0;
    transition-duration: 250ms;
    cursor: pointer;
  }

  .carousel-item > div > h1:hover {
    cursor: pointer;
  }

  .submenu-con {
    height: 100px;
  }
  .submenu-con > * {
    width: auto;
  }
  .submenu-con > *:hover {
    background-color: #0e234e;
    transition: 250ms;
    cursor: pointer;
  }
  .submenu-con > * > *:first-child {
    font-size: 40px;
  }
  .submenu-con > * > h3 {
    font-size: 1rem;
  }

  .games-list-menu > button:hover {
    background-color: #979797;
    text-decoration: underline;
    cursor: pointer;
    transition: 250ms;
  }

  .games-list-item:hover {
    background-color: #5278a8;
    border-radius: 0;
    transition: 250ms;
    cursor: pointer;
  }
  .games-list-item:hover > img {
    border-radius: 0;
    transition: 250ms;
  }
}

@media screen and (min-width: 50rem) {
  .carousel-item > div {
    width: 30%;
  }

  .games-list-item > div > .genres-list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 360px) {
  .games-list-item > span {
    display: none;
  }
}
