:root {
  background-color: rgb(26, 25, 25);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body,
* {
  margin: 0;
  padding: 0;
}

.genre {
  background-color: rgb(70, 70, 70);
  color: white;
  padding: 0.75em 0.75em;
  border-radius: 0.5em;
  min-width: 100px;
  border: none;
  outline: none;
  display: flex;
  text-align: center;
}
.genre:hover {
  cursor: pointer;
  background-color: rgb(54, 54, 54);
  box-shadow: 0px 0px 15px #1f1f1f;
  transition-duration: 250ms;
}
.genre *:first-child {
  align-self: center;
  margin-right: 0.5em;
}
.genre span {
  flex: 1;
}
