.container {
  display: flex;
  flex-direction: column;
}

.hero-banner-container {
  width: 80%;
  align-self: center;
  border-radius: 0.5em;
  position: relative;
}

.hero-banner-image {
  z-index: 0;
  height: auto;
  border-radius: 0.5em;
  width: 100%;
}

.hero-banner-info-container {
  background-image: -webkit-linear-gradient(
    right,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );
  border-radius: 0.5em;
  padding: 0.75em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  text-align: right;
  position: absolute;
  right: 0;
  bottom: 0.25em;
  top: 0;
}

.banner-texts > *:first-child {
  font-size: 1.25em;
  margin-bottom: 10px;
}
.banner-texts > *:last-child {
  font-size: 1em;
  color: rgb(134, 134, 134);
}

.banner-genres {
  display: none;
  flex-wrap: wrap;
  width: 100%;
}
.banner-genres > * {
  margin-right: 5px;
  margin-bottom: 5px;
}

.purchase-btn {
  background-color: #145eee;
  color: white;
  box-shadow: 0px 0px 15px #145eee;
  border-radius: 0.5em;
  padding: 0.5em;
  outline: none;
  border: none;
  transition: transform 0.4s;
  -webkit-transition: -webkit-transform 0.4s;
}
.purchase-btn * {
  font-size: 1em;
}
.purchase-btn *:first-child {
  margin-right: 10px;
}

@media screen and (min-width: 55rem) {
  .hero-banner-container {
    background-color: rgb(44, 44, 44);
    display: flex;
  }

  .hero-banner-image {
    width: 75%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    transition: transform 0.4s;
    -webkit-transition: -webkit-transform 0.4s;
  }
  .hero-banner-image:hover {
    cursor: pointer;
    -webkit-transform: scale(1.05) rotate(0.01deg);
    transform: scale(1.05) rotate(0.01deg);
  }

  .hero-banner-info-container {
    position: static;
    background-image: none;
    align-items: center;
    text-align: left;
  }

  .banner-texts > *:hover {
    cursor: pointer;
  }
  .banner-texts > *:first-child {
    font-size: 1.75vw;
  }
  .banner-texts > *:first-child:hover {
    color: #4f89fc;
    transition-duration: 250ms;
  }
  .banner-texts > *:last-child {
    font-size: 1.3vw;
    color: rgb(134, 134, 134);
  }
  .banner-texts > *:last-child:hover {
    color: rgb(78, 78, 78);
    transition-duration: 250ms;
  }

  .banner-genres {
    display: flex;
  }

  .purchase-btn {
    border-radius: 1em;
    padding: 15px;
  }
  .purchase-btn:hover {
    cursor: pointer;
    -webkit-transform: scale(1.1) rotate(0.01deg);
    transform: scale(1.1) rotate(0.01deg);
  }
  .purchase-btn *:first-child {
    margin-right: 10px;
    font-size: small;
  }
  .purchase-btn *:last-child {
    font-size: larger;
  }
}
