.hero-banner-container {
  align-self: center;
  border-radius: 0.5em;
  position: relative;
  margin-bottom: 1.75rem;
}

.hero-banner-image {
  z-index: 5;
  object-fit: cover;
  height: 100%;
  border-radius: 0.5em;
  width: 100%;
  cursor: pointer;
  transition-duration: 250ms;
  position: relative;
}

.hero-banner-info-container {
  background-image: -webkit-linear-gradient(
    right,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );
  border-radius: 0.5em;
  padding: 0.75em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  text-align: right;
  position: absolute;
  right: 0;
  bottom: 0.25em;
  top: 0;
  z-index: 5;
}

.banner-texts > *:hover {
  cursor: pointer;
}
.banner-texts > *:first-child {
  font-size: 1.25em;
  margin-bottom: 10px;
}
.banner-texts > *:first-child:hover {
  color: #4f89fc;
  transition-duration: 250ms;
}
.banner-texts > *:last-child {
  font-size: 1em;
  color: rgb(179, 178, 178);
}
.banner-texts > *:last-child:hover {
  color: rgb(78, 78, 78);
  transition-duration: 250ms;
}

.banner-genres {
  display: none;
}

@media screen and (min-width: 55rem) {
  .hero-banner-container {
    border-radius: 0.5em;
    display: flex;
    width: 100%;
  }

  .hero-banner-image {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .hero-banner-image:hover {
    transform: scale(1.075);
    border-radius: 0.5em;
  }

  .hero-banner-info-container {
    background-color: rgb(39, 39, 39);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-image: none;
    align-items: flex-start;
    text-align: left;
    width: 25%;
    position: static;
    z-index: 0;
  }
  .hero-banner-info-container > *:last-child {
    width: 100%;
  }

  .banner-texts > *:first-child {
    font-size: 2vw;
  }
  .banner-texts > *:last-child {
    font-size: 1.3vw;
  }

  .banner-genres {
    display: flex;
    flex-wrap: wrap;
  }
  .banner-genres > *:not(:last-of-type) {
    margin-right: 0.5em;
    margin-bottom: 0.5em;
  }
}
