.hero-banner-container {
  align-self: center;
  border-radius: 0.5em;
  position: relative;
  margin-bottom: 1.75rem;
}

.hero-banner-image {
  z-index: 0;
  object-fit: cover;
  height: 100%;
  border-radius: 0.5em;
  width: 100%;
  cursor: pointer;
  transition-duration: 250ms;
}

.hero-banner-info-container {
  background-image: -webkit-linear-gradient(
    right,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );
  border-radius: 0.5em;
  padding: 0.75em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  text-align: right;
  position: absolute;
  right: 0;
  bottom: 0.25em;
  top: 0;
  z-index: -1;
}

.banner-texts > *:hover {
  cursor: pointer;
}
.banner-texts > *:first-child {
  font-size: 1.25em;
  margin-bottom: 10px;
}
.banner-texts > *:first-child:hover {
  color: #4f89fc;
  transition-duration: 250ms;
}
.banner-texts > *:last-child {
  font-size: 1em;
  color: rgb(134, 134, 134);
}
.banner-texts > *:last-child:hover {
  color: rgb(78, 78, 78);
  transition-duration: 250ms;
}

.banner-genres {
  display: none;
}

.offers-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.offers-header > *:last-child {
  font-size: medium;
  color: #3a7afa;
  background-color: transparent;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
}
.offers-header > *:last-child:hover {
  color: #1b5ad8;
  text-shadow: 0px 0px 10px #2c70f8;
  transition-duration: 250ms;
  cursor: pointer;
}

.games-scroll {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5em;
  margin-bottom: 4em;
}

.product-image {
  border-radius: 0.5em;
  max-width: 100%;
  scroll-snap-align: start;
  transition: transform 0.4s;
}
.product-image:hover {
  cursor: pointer;
  transform: scale(1.1);
}

@media screen and (min-width: 55rem) {
  .hero-banner-container {
    border-radius: 0.5em;
    display: flex;
    width: 100%;
  }

  .hero-banner-image {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .hero-banner-image:hover {
    transform: scale(1.075);
    border-radius: 0.5em;
  }

  .hero-banner-info-container {
    background-color: rgb(39, 39, 39);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-image: none;
    align-items: flex-start;
    text-align: left;
    width: 25%;
    position: static;
  }
  .hero-banner-info-container > *:last-child {
    width: 100%;
  }

  .banner-texts > *:first-child {
    font-size: 2vw;
  }
  .banner-texts > *:last-child {
    font-size: 1.3vw;
    color: rgb(134, 134, 134);
  }

  .banner-genres {
    display: flex;
    flex-wrap: wrap;
  }
  .banner-genres > *:not(:last-of-type) {
    margin-right: 0.5em;
    margin-bottom: 0.5em;
  }
}
