.product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.product-header *:not(span) {
  color: rgb(255, 255, 255);
  height: 100%;
  width: auto;
  border: none;
  outline: none;
}
.product-header > *:first-child {
  background-color: rgb(88, 88, 88);
  border-radius: 50%;
  min-height: 30px;
  min-width: 30px;
  padding: 0.5em;
}
.product-header > *:first-child:focus {
  background-color: rgb(32, 32, 32);
}
.product-header > *:first-child:hover {
  background-color: rgb(32, 32, 32);
  cursor: pointer;
  transition: 250ms;
}
.product-header *:first-child > * {
  padding: 0;
}
.product-header > span > button {
  background-color: rgb(99, 99, 99);
  border-radius: 0.5em;
  padding: 0.5em;
}
.product-header > span > button:hover {
  background-color: rgb(32, 32, 32);
  cursor: pointer;
  transition: 250ms;
}
.product-header > span > button:focus {
  background-color: rgb(32, 32, 32);
}
.product-header > span > button:not(:last-of-type) {
  margin-right: 0.5em;
}

.product-name {
  font-size: 2em;
}

.product-hero-image {
  width: 100%;
  height: auto;
  border-radius: 0.5em;
}

.product-hero-info {
  margin-left: 0.5em;
  padding: 0.5em;
  background-color: rgb(39, 39, 39);
  border-radius: 0.5em;
  display: none;
}

.product-other-info {
  margin-bottom: 1em;
}
.product-other-info > *:not(:last-of-type) {
  margin-bottom: 0.5em;
}

.product-description-text {
  margin-bottom: 1em;
}

.purchase-btn {
  margin: 0.5em 0 1em 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.purchase-btn > *:first-child {
  font-weight: bold;
  font-size: larger;
}
.purchase-btn > *:last-child {
  flex: 1;
}

.images-list {
  margin-top: 0.5em;
  display: flex;
  flex: 1;
  overflow-x: auto;
  width: 100%;
  height: calc(10vh + 10vmin);
}

.list-image {
  height: 100%;
  width: auto;
}
.list-image:not(:last-of-type) {
  margin-right: 0.5em;
}
.list-image:focus {
  opacity: 0.5;
  border: 1px solid blue;
}
.list-image:focus-visible {
  opacity: 0.5;
  border: 1px solid blue;
}

.page-menu {
  margin-top: 1.25rem;
  margin-bottom: 1rem;
}
.page-menu > * {
  background-color: rgb(46, 46, 46);
  color: white;
  padding: 0.25em 0.5em;
  border-radius: 0.5em;
  border: none;
}
.page-menu > *:hover {
  cursor: pointer;
}
.page-menu > *:not(:last-of-type) {
  margin-right: 0.5em;
}

.menu-selected {
  background-color: rgb(100, 100, 100);
}

.images-modal {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  z-index: 15;
}
.images-modal > *:first-child {
  font-size: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.5em;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  z-index: 5;
}

.carousel {
  max-width: 100%;
}

.genres-list {
  margin-bottom: 0.5em;
  display: flex;
  flex-wrap: wrap;
}
.genres-list > *:not(:last-of-type) {
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}

.game-products {
  margin-bottom: 1.5em;
}

.editions-header {
  font-size: 1.5rem;
}

.editions-list {
  margin-bottom: 1.5rem;
}
.editions-list > *:not(:last-of-type) {
  margin-bottom: 0.75rem;
}

.edition-con {
  background-color: #464646;
  border-radius: 0.5em;
  padding: 0.5em;
}

.edition-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 1em;
}
.edition-header > h2 {
  width: 60%;
}

.edition-tag {
  background-color: #747474;
  margin-right: 0.5em;
  padding: 0.25em 0.5em;
  border-radius: 0.5em;
  width: fit-content;
}

.edition-purchase-con {
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
}

.edition-price {
  padding: 0.25em 0.5em;
  margin-right: 0.5em;
  display: flex;
  align-items: center;
}

.edition-price-original {
  color: #b9b9b9;
  text-decoration: line-through;
}

.edition-purchase-btn {
  padding: 0.5em 1em;
  width: fit-content;
  display: flex;
  align-items: center;
}

.additional-header {
  display: flex;
  justify-content: space-between;
}
.additional-header > button {
  color: white;
  background-color: transparent;
  border: none;
}
.additional-header > button:hover {
  cursor: pointer;
}

.additional-list {
  list-style-type: none;
  margin-bottom: 0.5em;
}

.additional-item {
  color: white;
  width: 100%;
  text-align: left;
  background-color: #747474;
  border: none;
  padding: 0.5em;
}
.additional-item:hover {
  transition: 250ms;
  background-color: #464646;
  cursor: pointer;
}
.additional-list > *:not(:last-of-type) {
  border-bottom: 2px solid #464646;
}

.additional-purchase-con {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.additional-purchase-price {
  height: 100%;
  margin-right: 0.5em;
}

.additional-purchase-btn {
  width: fit-content;
}

.recommended-list {
  height: 100px;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}
.recommended-list > *:not(:last-of-type) {
  margin-right: 0.5em;
}
.recommended-list > *:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: 250ms;
}

.recommended-game {
  border-radius: 0.5em;
  max-height: 100%;
}

.system-menu {
  background-image: linear-gradient(
    90deg,
    rgba(70, 70, 70, 1),
    rgba(70, 70, 70, 0.5),
    rgba(70, 70, 70, 0)
  );
  padding-top: 0.25em;
  margin-bottom: 0.5em;
  display: flex;
  list-style-type: none;
}
.system-menu > *:not(:last-of-type) {
  margin-right: 0.5em;
}
.system-menu > *:first-child > button {
  border-top-left-radius: 0;
}

.system-menu-btn {
  color: white;
  background-color: transparent;
  border-radius: 0.5em 0.5em 0 0;
  padding: 0.25em 0.5em;
  border: none;
}
.system-menu-btn:hover {
  background-color: rgb(151, 151, 151);
  cursor: pointer;
  transition: 250ms;
}
.system-menu-selected {
  background-color: rgb(26, 25, 25);
  color: white;
  border-radius: 0.5em 0.5em 0 0;
  padding: 0.25em 0.5em;
  border: none;
}

.system-desc-min {
  margin-bottom: 1em;
}
.system-desc-min > *:first-child {
  text-decoration: underline;
}
.system-desc-min > *:not(:first-child) > span {
  color: rgb(81, 158, 247);
  font-weight: bold;
}

.system-desc-rec > *:first-child {
  text-decoration: underline;
}
.system-desc-rec > *:not(:first-child) > span {
  color: rgb(81, 158, 247);
  font-weight: bold;
}

@media (orientation: landscape) {
  .images-modal {
    padding: 1.5rem;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

  .carousel {
    max-width: 75%;
  }
}

@media screen and (min-width: 70rem) {
  .product-hero {
    display: flex;
  }

  .product-hero-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .product-hero-image {
    width: 75%;
    object-fit: cover;
  }

  .game-info {
    display: block;
  }

  .carousel {
    width: 75%;
  }

  .page-menu-desc {
    display: none;
  }

  .game-products {
    display: flex;
    justify-content: space-between;
  }
  .game-products > div:first-child {
    flex: 1;
  }
  .game-products > div:first-child {
    flex: 1;
    margin-right: 1.5em;
  }
  .game-products > div:last-child {
    flex: 1;
  }
}

@media screen and (min-width: 55rem) {
  .product-name {
    font-size: 2.5em;
  }

  .purchase-btn:hover {
    cursor: pointer;
  }

  .list-image:hover {
    cursor: pointer;
  }

  .images-modal > *:first-child {
    cursor: pointer;
  }

  .desc-menu > *:hover {
    cursor: pointer;
  }

  .system-desc-con {
    display: flex;
  }

  .system-desc-min {
    flex: 1;
    margin-right: 1em;
  }
  .system-desc-rec {
    flex: 1;
  }
}
